img {
  border-radius: 20px;
  border: 2px solid black;
}

.font {
  font-family: 'Quicksand', sans-serif;
}

body {
  background: #FFF6EB;
}

.dog_button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: skyblue;
  width: 70px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.dog_button:hover,
.dog_button:focus,
.dog_button:active {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cat_button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #FFE465;
  width: 70px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.cat_button:hover,
.cat_button:focus,
.cat_button:active {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.duck_button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #C8C5B8;
  width: 70px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.duck_button:hover,
.duck_button:focus,
.duck_button:active {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fox_button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #FD862F;
  width: 70px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.fox_button:hover,
.fox_button:focus,
.fox_button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.random_button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #FF96B5;
  width: 70px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.random_button:hover,
.random_button:focus,
.random_button:active {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box {


  display: flex;
  justify-content: center;
  align-items: center;
}
