<!DOCTYPE html> 
<html>
<h1>animal page</h1>
<%=@animal_pic%>
<body>

<style>

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body{


height: 100vh;



background-color: lightblue;

}


.card_class{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;

}



</style>

<div class="card" style="width: 40rem;">
<img src="<%=@animal_pic%>"class="card_class alt="dog_png" >

</body>


<div>

<a href="/">back button</a>



</html>
