<h1 style="text-align: center;">cat page</h1>


<style>
body{
background: lightpink;




}

</style>
<div style="text-align: center;">

<img src="<%=@cat_pic%>" width=400 height=400 alt="catpng">
</div>
