<!DOCTYPE html> 
<html>
<h1 style="text-align: center;" >cute dog</h1>






<body>

<style>


body{
background-color: lightblue;

}






</style>

<div style="text-align: center;">
<img width="500" height=500 src="<%=@animal_pic%>"alt="dog_png" >

</body>


<div>



</html>
