<!DOCTYPE html> 
<html>
<h1 style="text-align: center;" >cute dog</h1>






<body>

<style>


body{
background-color: lightblue;

}

.border{
 border: 2px solid black;
 
 }



img{

border-radius: 20px;
}

</style>


<div style="text-align: center;">
<img class="border"  width="500" height=500 src="<%=@animal_pic%>"alt="dog_png" >

</body>


<div>



</html>
