<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Link to stylesheets/CSS -->
    <link rel="stylesheet" href="css/dog.css">
    <!-- Load  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="box">
      <a href="/random" class="random_button">random</a>

      <a href="/duck" class="duck_button">Duck</a>

      <a href="/fox" class="fox_button">Fox</a>

      <a href="/cat" class="cat_button">Cat</a>
    </div>

    <h1 style="text-align: center;" class="font" >Cute dog</h1>

    <div style="text-align: center;">
      <div style="text-align: center;">
        <img class="border"  width="600" height=600 src="<%=@animal_pic%>"alt="dog_png" >
        <form action="/dog">
          <button>New picture</button>
        </form>
      </div>
    </div>
  </body>

</html>
