

<h1 style="text-align: center;">cute little duck </h1>





<div style="text-align: center;">

<img width="600" height= "600" src="<%=@duck_pic%>">

<form action="/duck" >

<button>new image</button>

</form>


</div>


<style>

body{

background: #F6F6F6 ;

}
img{


  border-radius:20px;
  border:3px solid black;

}
  </style>
