<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid Challenge</title>

    <!-- Link to stylesheets/CSS -->
    <link rel="stylesheet" href="css/duck.css">
    <!-- Load  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

  </head>

  <body>
    <div class="box">
      <a href="/random" class="random_button">random</a>

      <a href="/dog" class="dog_button">Dog</a>

      <a href="/fox" class="fox_button">Fox</a>

      <a href="/cat" class="cat_button">Cat</a>
    </div>

    <h1 style="text-align: center;" class="font">Cute duck</h1>

    <div style="text-align: center;">

      <img width="600" height= "600" src="<%=@duck_pic%>">

      <form action="/duck" >
        <button>new image</button>
      </form>
    </div>
  </body>
</html>
