<h1 style="text-align: center;">cute little duck </h1>





<div style="text-align: center;">

<img width="400" height= "400" src="<%=@duck_pic%>">

</div>


<style>

body{

background: lightyellow;



}

</style>
