<h1 style="text-align: center;">cute little duck </h1>





<div style="text-align: center;">

<img width="500" height= "500" src="<%=@duck_pic%>">

</div>


<style>

body{

background: #F6F6F6 ;

}
img{


  border-radius:20px;
  border:3px dotted black;
</style>
