<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Link to stylesheets/CSS -->
    <link rel="stylesheet" href="css/fox.css">
    <!-- Load  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="box">
      <a href="/random" class="random_button">random</a>

      <a href="/dog" class="dog_button">Dog</a>

      <a href="/duck" class="duck_button">Duck</a>

      <a href="/cat" class="cat_button">Cat</a>
    </div>
    <div style= "text-align: center;">
      <h1 class="font">Cute fox</h1>

      <img src="<%=@fox_pic%>" width=600 height= "600" alt="fox_png">

      <form action="/fox">

        <button> new image </button>

      </form>

    </div>
  </body>
</html>
