<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FurFlix</title>

    <!-- Link to stylesheets/CSS -->
    <link rel="stylesheet" href="css/home.css">
    <!-- Load  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <p class="font" style="text-align: center;">Welcome to FurFlix</p>
    <p class="font" style="text-align: center;">Take a look at some cute animal pictures to brighten your day</p>
    <p class="font"  style="text-align: center;">Click a button to see a cute animal picture!</p>

    <div class="box">
      <a href="/random" class="random_button">random</a>

      <a href="/dog" class="dog_button">Dog</a>

      <a href="/cat" class="cat_button">Cat</a>

      <a href="/duck" class="duck_button">Duck</a>

      <a href="/fox" class="fox_button">Fox</a>
    </div>

  </body>
</html>
