<h1>Welcom to animal picker</h1>


<h2>enter name of an animal</h2>

<form action="/animal">

<label for="animal_in">type an animal</label>
<input id= "animal_in" name ="animal_in" type= "text" >
<button>go</button>


</form>
