<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  
  .navbar{


display: flex;

justify-content: space-between;


  }
  </style>
  

  <div class=navbar>
  
  <a href="/">home</a>

<a href="/dog">dog</a>
 <a href="/cat">cat</a>
 <a href="/duck">duck</a>
  <a href="/fox">fox</a>
  </div>

  
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
