<!DOCTYPE html>
<html>
  <head>
    <title>FurFlix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <header class="header">
    <a href="/" style="color: inherit;" class="logo">FurFlix🐾  </a>

  </header>

  <style>
    .header{

    position: fixed;
    top: 0;
    left: 0;
    width: 75%;

    padding: 10px 10px;



    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }

    .logo{

    font-size: 30px;
    text-decoration: none;



    font-family:Andale Mono, monospace ;


    }
  </style>

  <body>

    <%= yield %>
  </body>
</html>
