<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Link to stylesheets/CSS -->
    <link rel="stylesheet" href="css/random.css">
    <!-- Load  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
  </body>

  <body>

    <div class="box">

      <a href="/dog" class="dog_button">Dog</a>

      <a href="/cat" class="cat_button">Cat</a>

      <a href="/duck" class="duck_button">Duck</a>

      <a href="/fox" class="fox_button">Fox</a>
    </div>
    <h1 style="text-align:center;" class="font">Cute Pic</h1>

    <div style="text-align: center;">

      <img width="600" height= "600" src="<%=@random_pic%>">

      <form action="/random" >

        <button class="new_img">new image</button>

      </form>

    </div>
  </body>
</html>
