<html>


<h1 style="text-align:center;">Cute Pic</h1>


<style>
img{


  border-radius:20px;
  border:2px solid black ;
}
.new_img{
 


}
body{


  background:#FFF6EB ;
}

</style>



<div style="text-align: center;">

<img width="600" height= "600" src="<%=@random_pic%>">

<form action="/random" >

<button class="new_img">new image</button>

</form>


</div>
